*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* body */
}

h1{
    font-size: 60px;
    line-height: 24px;
    color: black;
}
h2{
    font-size: 45px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 30px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 22px;
}
p {
    font-size: 20px;
    color: #465b52;

}
section-p1{
    padding: 40px 80px;
}
section-m1 {
    margin: 40px 0;
}


.section-p1 {
    padding: 40px 80px;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 10px 80px;
    box-shadow: 0 5x 15px rgb(255, 170, 170);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
body {
    width: 100%;
}
#header .logo {
    width: 90px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color: rgb(56, 5, 5);
    transition: 0.3s ease;
}
#navbar.active {
    right: 0px;
}
#navbar li a:hover {
    color: green;
}
#navbar li a:active {
    color: brown;
}
#navbar li a:hover,
#navbar li a.active {
    color: green;
}

#navbar li a.active::after,
#navbar li a:hover::after {
   content: "";
    width: 30%;
    height: 2.5px;
    background-color: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Home Page */
#hero {
    background-image: url(./Images/girlshops.png);
    background-size: 65%;
    height: 50vh;
    width: 100%;
    background-position: top 100% right 10%;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#hero  p {
font-size: 20px;
font-weight: 900;
}

.combine-image-txt {
    position: relative;
    width: 600px;
    margin-bottom: -90px;
    
}
h4 {
    padding: 0 0 10px;
    color: rgb(14, 2, 103);
}
h2 {
    color: rgb(49, 133, 0);
    padding: 0 0 25px;
}
p {
    color: rgb(129, 73, 0);
}
h1 {
    color: rgb(97, 0, 0);
    padding: 0 0 25px;
}

#hero button {
    
    background-color: transparent;
    color: green;
    border: 0;
    margin-top: 20px;
    padding: 14px 40px 14px 40px;
    background-color: rgb(255, 145, 0);
    border-radius: 20px;
    font-weight: 700;
    font-size: 25px;
    color: wheat;
    width: 220px;
   
}
#feature {
    font-size: 23px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}
#feature .fe-box {

          text-align: center;
     padding: 25px 15px;
     box-shadow: 2px 2px 2px 2px;
     border: 1px solid blueviolet;
     border-radius: 8px;

}
#feature .fe-box img {
    max-width: 200px;
    text-align: center;
        padding: 10px; 
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
}    
#feature .fe-box h5 {
    background-color: antiquewhite;
    padding: 10px 10px;

}

#feature .fe-box:hover {
    box-shadow: 1px 1px 1px 1px;
    
}
#product1 {
    text-align: center;
}
#product1 .pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}
#product1 .pro {
    width: 303px;
    min-width: 328px;
    padding: 10px 12px;
    border: 1px solid red;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 101), white);
    position: relative;
}
#product1 .pro:hover {
    box-shadow: 10px 10px 30px rgb(182, 180, 180);
}
#product1 .pro img {
    width: 303px;
    height: 386px;
    border-radius: 20px ;
}
#product1 .pro .des {
    text-align: start;
   

}
#product1 .pro .des span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgb(159, 150, 150);
    background-color: rgb(168, 178, 178);
}
#product1 .pro .des h5 {
    margin-top: 11px;
    font-size: 20px;
    margin-bottom: 6px;
}
#product1 .pro .des .star {
    color: green;
    margin-bottom: 7px;
    font-size: large;
}
#product1 .pro .des h4 {
    font-size: 25px;
}
#product1 .pro .des .cart {
    background-color: green;
    border-radius: 50%;
    padding: 13px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 220px;
    bottom: 18px;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./banner\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}
#banner h3 {
    margin-top: 20px;
    font-weight: 10px;
    font-size: 20px;
    margin-bottom: 16px;
    color: white;
}
#banner h2 {
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
}
#banner button {
    padding: 10px;
    font-size: 20px;
    border-radius: 14px;
    margin-bottom: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#sm-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 180px;
    margin-top: 50px;
}
.banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./smbanner.jpg);
    min-width: 650px;
    gap: 80px;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box h2 {
    margin-top: 90px;
    margin-left: 200px;
    color: bisque;
}

#sm-banner .banner-box h4 {
    margin-top: -70px;
    margin-left: 270px;
    color: bisque;
}

#sm-banner .banner-box span {
    margin-top: -70px;
    margin-left: 280px;
    max-width: 180px;
    color: bisque;
}

#sm-banner .banner-box button {
    padding: 20px;
    font-size: 15px;
    border-radius: 15px;
    margin-bottom: 60px;
    margin-left: 280px;
    background-color: bisque;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

#sm-banner .banner-box button:hover {
    background-color: aqua;
    transition: .3s;
    color: blue;
    font-weight: 40px;
    font-family: sans-serif;
}
#banner-3 {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    gap: 100px;
}
.banner-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./Images/banner3.JPG);
    width: 466px;
    height: 40vh;
    /* margin-left: 180px; */
    /* gap: 80px; */
    background-size: cover;
    /* background-position: center; */
}
.banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./Images/bannerbox2.jpg);
    width:  466px;
    height: 40vh;
    /* margin-left: 180px; */
    /* gap: 80px; */
    background-size: cover;
    /* background-position: center; */
}
.banner-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./Images/bannerbox3.jpg);
    width:  466px;
    height: 40vh;
    /* margin-left: 180px; */
    /* gap: 80px; */
    background-size: cover;
    /* background-position: center; */
}
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("./Images/blue\ background.jpg");
    height: 30vh;
    background-position: 20% 30%;
}
#newsletter .newstext h4 {
    color: yellow;
    font-size: 40px;
}
#newsletter .newstext p {
    color: white;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 4000px;
}
#newsletter .newstext span {
    color: rgb(255, 119, 0);
    /* font-size: 20px; */
    font-weight: 3500px;
    background-color:antiquewhite;
    padding: 4px;
    border-radius: 5px;
}
#newsletter input {
    padding: 2 1.25em;
    height: 70px;
    width: 400px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: 3px solid red;
}
#newsletter .form {
    display: flex;
}
#newsletter button {
    background-color: antiquewhite;
    white-space: normal;
    padding: 10px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
}
#newsletter .normal {
    /* margin-top: 3    0px; */
    align-items: center;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer.col {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
}
footer .col1 p {
    font-weight: 600;
    color: red;
    padding: 4px;
}
footer .col1 .follow h4{
    margin-top: 20px;
}
footer .col1 img {
    width: 150px;
}
footer .col1 .icon {
    cursor: pointer;
    font-size: 40px;
}
footer .col-install img {
    width: 150px;
}
footer .copyright {
    text-align: center;
}
footer .col a {
    max-width: 200px;
    text-decoration: none;
    display: flex;
   flex-direction: column;
   margin-top: 20px;
   font-weight: 600;
   font-size: 20px;
}
footer .col-install {
    flex-direction: column;
    
    display: flex;
    align-items: flex-start;
}
footer .col-install .row {
    margin-top: 15px;
    margin-bottom: 15px;
}
footer .col-install img {
    width: 150px;
    cursor: pointer;
}
footer .col-install .paymentgateway {
    margin-top: 17px;
    width: 270px;
    cursor: pointer;
}
#product2 .pro-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
}
#product2 .pro1 {
    width: 328px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid red;
    border-radius: 20px;
    background-image: linear-gradient(rgb(234, 0, 255), white);
    position: relative;
}

#product2 .pro1:hover {
    box-shadow: 10px 10px 30px rgb(182, 180, 180);
}
#product2 .pro1 img {
    width: 302px;
    height: 292px;
    border-radius: 20px ;
}

#product2 .pro1 .des span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgb(159, 150, 150);
    background-color: rgb(168, 178, 178);
}
#product2 .pro1 .des h5 {
    margin-top: 11px;
    font-size: 15px;
    margin-bottom: 6px;
}
#product2 .pro1 .des .star {
    color: green;
    margin-bottom: 7px;
    font-size: large;
}
#product2 .pro1 h4 {
    font-size: 35px;
    margin-top: 18px;
    text-align: center;
    margin-left: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#product2 .pro1 .cart {
    background-color: green;
    border-radius: 50%;
    padding: 13px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 220px;
    bottom: 18px;
}
.horizontal {
    margin-top: 40px;
    background-image: linear-gradient(white, yellow, rgb(255, 201, 201), white);
    font-size: 30px;
    text-shadow: white 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    padding: 20px;
}
.copyright {
    text-align: center;
}


/* Shop Page */
#page-header {
    background-image: url(./Images/shop_background.jpg);
    height: 30vh;
    width: 100%;
    background-position: top 40% right 3%;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#page-header h2{
    color: rgb(220, 121, 0);
    margin-top: 69px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}
#page-header p {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 600;
    color: white;
    background-color: rgb(136, 0, 23);
    padding: 10px;
    border-radius: 15px;
}
#pagination {
    text-align: center;
    
}
#pagination a {
    text-decoration: none;
    background-color: rgb(0, 102, 102);
    padding: 15px 20px;
    border-radius: 4px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
}
#pagination a i {
    color: white;
}

/* Single Product */
#prodetails .single-pro-image {
    width: 90%;
    margin-left: 9px;
}
.small-image-group {
    display: flex;
    justify-content: space-between;
}
.small-image-col {
    flex-basis: 23%;
    margin-top: 20px;
    /* border-radius: 0px; */
    cursor: pointer;
}
#prodetails {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 290px;
    gap: 20%;
    width: 70%;
}
#prodetails .single-pro-details {
  width: 110%;
  /* max-width: 400px; */
  padding-top: 30px;
    /* ma */
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 45px;
    /* text-shadow: 20px color(gray); */
}
#prodetails .single-pro-details select {
    display: block;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    color:darkgreen;
    margin-bottom: 30px;
}
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button {
    background-color: rgb(0, 73, 49);
    color: white;
    font-size: 18px;
    padding: 14.5px;
    border-radius: 15px;
}
#prodetails .single-pro-details span {
    line-height: 25px;
    font-size: 17px;
    
}

    /* Blog CSS Property */
    #page-header .blog-header {
            background-image: url(./Images/appstore.png);
            height: 400vh;
    }
    #blog {
        padding: 100px 100px 0 150px;
    }
    #blog .blog-box {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        /* padding-bottom: 90px; */
        margin-bottom: 100px;
    }
    #blog .blog-box .blog-image {
        width: 50%;
        margin-right: 40px;
    }
    #blog img {
        width: 80%;
        height: 300px;
        object-fit: cover;
    }
    #blog .blog-box .blog-details {
        width: 50%;
    }
    #blog .blog-details a{
        text-decoration: none;
        font-size: 21px;
        color: black;
        font-weight: 700;
        position: relative;
        transition: 0.3s    ;
    }
    #blog .blog-details p {
        margin-bottom: 50px;
    }
    #blog .blog-details a::after {
        content: "";
        width: 50px;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 10px;
        right: -60px;
    }
    #blog .blog-details a:hover {
        color: cadetblue;
    }
    #blog .blog-details a:hover::after {
        background-color: aquamarine;
    }
    #blog .blog-box h1 {
        position: absolute;
        top: -23px;
        left: 0;
        font-size: 70px;
        font-weight: 700;
        z-index: -9;
    }

    /* About  */

#about-head {
    display: flex;
    align-items: center;
}
#about-head div {
    padding-left: 60px;
    width: 50%;
}
#about-head img {
    /* margin-left: 10%; */
    width: 50%;
    height: auto;
    /* margin-right: 50px; */
}
#about-head p {
    line-height: 35px;
}
#about-head abbr {
    font-size: 20px;
    line-height: 28px;
}
#about-head marquee {
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
}
#about-app h1 {
    text-align: center;
}
#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    
}
#contact-details .details {
    width: 100%;
}
#contact-details .details span,
#form-details form span {
   font-size: 20px;
}
#contact-details h2,
#form-details h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details h3 {
    font-size: 21px;
    padding-bottom: 15px;
}
#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
   font-size: 18px;
   padding-right: 22px;
}
#contact-details .details li p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0;
   font-weight: 400;
   /* font-size: 14px; */
 }
 #contact-details .maps {
    width: 55%;
    height: 400px;
    margin-bottom: 60px;
    margin-top: 40px;
 }
 #contact-details .map iframe {
    width: 100%;
    height: 100%;
 }
 .complete_resolution {
    display: flex;
 }
 #form-details {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid rosybrown ;
 }

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input, 
#form-details form textarea   {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid royalblue;
}
#form-details form button {
    background-color: royalblue;
    color: wheat;
    padding: 20px;
    font-size: 20px;
}
#form-details .people img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
}
#form-details .people div p span {
    display: block;
    font-size: 15px;
    font-weight: 800;
    color: royalblue;
}




/* Start Media Query */

@media screen and (min-width:300px) and (max-width:700px) {

body {
    width: 302%;
}

    #sm-banner {
        display: flex;
        flex-direction: column;
    }
    #hero {
        align-items: center;
        background-size: 90%;
        padding: 0px 0px 269px;
        height: 93vh;
        background-position: top 100% right 49%;
    }
    #feature {
        gap: 30px;
        font-size: 30px;
    }

    #product1 .pro-container {
        margin-left: 52px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        gap: 71px;
    }
  
    #banner {
        height: 59vh;
    }
    #banner h2 {
        color: rgb(94, 255, 0);
        padding: 0 0 12px;
        margin-left: 250px;
        font-size: 25px;
    }
    #banner h3 {
        margin-left: 234px;
        }
        #banner button {
            margin-left: 245px;
            }
    .banner-box {
    
        margin-left: -91px;
        min-width: 536px;
        
    }
#product2 h2 {
        text-align: center;
}
#product2 h4 {
    text-align: center;
}
#product2 .pro1 {
    /* margin-left: 20px; */
    /* display: flex; */
    gap: 20px;
}
#product1 .pro-container {
    flex-direction: column;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    gap: 79px;
}
#product1 .pro {
    /* height: 530px; */
    width: 388px;
    /* min-width: 345px; */
    padding: 10px 12px;
    border: 1px solid red;
    border-radius: 20px;
    background-image: linear-gradient(rgb(255, 255, 101), white);
    position: relative;
}
#product2 .pro1 {
    margin-left: -69px;
    /* display: flex; */
    /* gap: 1s0px; */
}
.banner-box {
    margin-bottom: 40px;
    margin-left: -193px;
    min-width: 573px;
    min-width: 557px;
}
#banner-3 {
    display: flex;
    flex-direction: column;
    padding: 42px;
    align-items: center;
    gap: 82px;
}
.banner-box1 {
    width: 905px;
    height: 172vh;
}
.banner-box1 h2 {
    font-size: 75px;
    text-shadow: 8px 8px #ffffff;
}
.banner-box1 h3 {
    font-size: 45px;
    background-color: #465b52;
    border-radius: 25px;
    padding: 25px;
    color: white;
}

.banner-box2 {
    width: 905px;
    height: 172vh;
}
.banner-box2 h2 {
    font-size: 75px;
    color: blue;
    text-shadow: 8px 8px #ffffff;
}
.banner-box2 h3 {
    font-size: 45px;
    background-color: #465b52;
    border-radius: 25px;
    padding: 25px;
    color: white;
}

.banner-box3 {
    width: 905px;
    height: 172vh;
}
.banner-box3 h2 {
    font-size: 75px;
    color: red;
    text-shadow: 8px 8px #ffffff;
}
.banner-box3 h3 {
    font-size: 45px;
    background-color: #465b52;
    border-radius: 25px;
    padding: 25px;
    color: white;
}
#newsletter {
    /* margin-left: -162px; */
    width: 100%;
    flex-direction: column;
    /* width: 981px; */
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 57vh;
}
#newsletter input {
    padding: 2 1.25em;
    margin-left: 50px;
    height: 96px;
    width: 433px;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    outline: none;
    border: 3px solid red;
}
#newsletter .newstext h4 {
    color: yellow;
    font-size: 40px;
}
#newsletter .newstext p {
    font-size: 28px;
}
#footer .col1 img {
    width: 600px;
}
#footer .col-install {
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}
#footer .col-install h4 {
    text-align: center;
}
.horizontal {
    font-size: 35px;
    margin-left: 18%;
}

#page-header {
    height: 30vh;
    background-size: cover;
}
#page-header p {
    margin-bottom: 40px;
}
#prodetails {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 329px;
    gap: 10%;
    width: 70%;
}
#prodetails .single-pro-image {
    width: 90%;
    margin-left: -360px;
}


/* Blog Page */

/* For the About Button */

#about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-head img {
    /* margin-left: 10%; */
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
#about-head div {
    padding-left: 0px;
    width: 100%;
    text-align: center;
}
#about-app .video {
    width: 100%;
}
/* #feature .fe-box2 {
    padding: -133px 15px;
} */

/* Contact Us Page for Mobile Device */
#contact-details {
    flex-direction: column;    
}
#contact-details .details {
    width: 100%;
}  
#contact-details .maps {
    width: 100%;
    margin-left: 140px;
} 
#form-details {
    gap: 52px;
    justify-content: space-between;
    margin: 20px;
   
}
}

